.jobSection {
    /* height: 40vh; */
    padding-top: calc(10px + 5vw);
    padding-bottom: calc(10px + 3vw);
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: calc(8px + 2vw);
}

.textContainer {
    width: 70%;
}

.textContainer > p:first-child {
   font-weight: bold;
   font-size: calc(5px + 1.2vw);
}

@media screen and (max-width: 1024px) {
    .textContainer {
     display: flex;
     align-items: center;
     padding-left: 0;
     justify-content: space-between;
     flex-direction: row-reverse;
      
    }
  }  